.header-wrap {
  width: 100%;
  height: 72px;
  background-color: #000;
  color: #fff;
  position: absolute;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 24px;
  max-width: 14400px;
  height: 100%;
}

.logo button {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.gnb button {
  padding: 8px 12px;
  margin-right: 16px;
  border-radius: 4px;
  color: #fff;
}
.gnb button:hover {
  background-color: #333;
}
